<%- include('../partials/header') %>
    <%contracts.forEach(element=> {%>
        <h1><img src=<%=element.user.avatar%> alt="Seller's Profile Picture" width=“500” height="82"></h1>
        <li>
            Seller's Name: <%=element.user.name%>
        </li>
        <li>
            Seller's Email: <%=element.user.email%>
        </li>
        <li>
            Contract Price Per Month: $<%=element.price%>
        </li>
        <li>
            Amount of Beds: <%=element.beds%>
        </li>
        <li>
            Amount of Bathrooms: <%=element.bath%>
        </li>
        <% if (user && user.id==element.user.id) { %>
            <!-- <input type="button" value="Delete this Contract" onClick="window.location.reload(true)"> -->
            <form action="/contracts/<%=element.id%>?_method=DELETE" method="POST"><button type="submit">Delete
                    Contract</button></form>
            <!-- ask Sam for help with this button -->
            <% }else if (user) { %>
                <li>
                    <input type="button" value="Add Contract to Wish List" onClick=user.wishList.push(element)>
                    <!-- make this add to wishList -->
                </li>
                <%}%>

                    <%});%>
                        <%- include('../partials/footer') %>