<%- include('../partials/header') %>
    <%contracts.forEach(element=> {%>
        <h1><img src=<%=element.user.avatar%> alt="Seller's Profile Picture" width=“500” height="82"></h1>
        <li>
            Seller's Name: <%=element.user.name%>
        </li>
        <li>
            Seller's Email: <%=element.user.email%>
        </li>
        <li>
            Contract Price Per Month: $<%=element.price%>
        </li>
        <li>
            Amount of Beds: <%=element.beds%>
        </li>
        <li>
            Amount of Bathrooms: <%=element.bath%>
        </li>
        <% if (user) { %>
            <li>
                <input type="button" value="Add Contract to Wish List" onClick="window.location.reload(true)">
                <input type="button" value="Add Contract to Wish List"
                    onClick=user.wishList=user.wishList.push(element)>
            </li>
            <%}%>

                <%});%>
                    <%- include('../partials/footer') %>